<div class="auth-form container vh-100 vw-100 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex align-items-center mb-5 animate-fade-in-up">
        <img src="/logo.png" alt="Logo" class="me-2" style="width: 30px; height: 30px;"/>
        <a class="navbar-brand m-0 fs-4 text-white" routerLink="/">ChessHub</a>
    </div>
    <div class="container container__auth-form pb-5">
        <div class="animate-fade-in-up animate-delay-100">
            <h2 class="text-center">{{ textLabel }}</h2>
            <p class="text-center mb-4 text-muted">
                {{ descriptionLabel }}
            </p>
        </div>
        <div class="card p-4 animate-fade-in-up animate-delay-300">
            @if (errorMessage) {
                <div class="alert alert-danger text-center" role="alert">
                    ⓘ {{ errorMessage }}
                </div>
            }
        
            <form (ngSubmit)="onFormSubmit()">
                <fieldset>
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label ms-2">Username</label>
                        <input type="text" class="form-control" name="usernameInput" id="usernameInput" placeholder="seu_nome" [(ngModel)]="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label ms-2">Senha</label>
                        <input type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="***********" [(ngModel)]="password" required>
                    </div>
                    @if(type === 'register') {
                        <div class="mb-3">
                            <label for="confirmPasswordInput" class="form-label ms-2">Confirmar senha</label>
                            <input type="password" class="form-control" name="confirmPasswordInput" id="confirmPasswordInput" placeholder="***********" [(ngModel)]="confirmPassword" required>
                        </div>
                    }
                </fieldset>
                <button type="submit" class="btn btn-primary w-100 mt-4">{{ buttonLabel }}</button>
            </form>
        </div>
    </div>
</div>