$canvas-default: #212830; // Fundo mais escuro
$canvas-overlay: #0c1017; // Fundo de cards
$border-default: #343a43; // Bordas GitHub
$text-default:   #ffffff; // Cinza claro para texto
$accent-fg:      #1a85ff; // Azul brilhante (Primário)
$secondary-bg:   #192331; // Azul escuro/Marinho (Secundário)
$success-fg:     #238636; // Verde GitHub
$light-square:   #d8cbb6; // Quadrados claros
$dark-square:    #364659; // Azul escuro para quadrados