@use "sass:color";
@use "variables" as vars;

.navigate-button {
    .btn {
        &:focus,
        &:active,
        &:focus-visible {
            outline: none !important;
            box-shadow: none !important;
            border-color: transparent !important;
        }

        &:hover {
            background-color: rgba(vars.$canvas-overlay, 0.3); 
        }
    }
}