@use "scss/variables" as *;

.header {
    background-color: rgba($canvas-default, 0.4) !important;

    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(white, 0.1);

    animation-duration: 1s;
}